<h1 class="title">Simulador planificación de procesos</h1>

<!--
<button class="btn-primary" (click)="add()">ADD</button>

<button class="btn-primary" (click)="srtAlg()">SRT</button>
-->
<main>
  <section>
    <div>
      <p>Nuevo proceso</p>
    <div>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="processName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Tiempo de llegada</mat-label>
        <input matInput [(ngModel)]="processArrivalTime">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Tiempo de ejecución</mat-label>
        <input matInput [(ngModel)]="processExecuteTime">
      </mat-form-field>
    </div>
    <button class="btn-primary" (click)="addProcess()">Añadir proceso</button>
    </div>  
  </section>
  
  <section>
    <p>Algoritmos</p>
    <button class="btn-primary" (click)="fifo()">FIFO</button>
    <button class="btn-primary" (click)="spn()">SPN</button>
    <div>
      <mat-form-field>
        <mat-label>Quantum</mat-label>
        <input matInput [(ngModel)]="quantum">
      </mat-form-field>
    </div>
    <button class="btn-primary" (click)="roundRobin()">Round Robin</button>
  </section>
</main>

<article>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #matTableViewChild>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="arrivalTime">
    <th mat-header-cell *matHeaderCellDef> tiempo de llegada </th>
    <td mat-cell *matCellDef="let element"> {{element.arrivalTime}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="executeTime">
    <th mat-header-cell *matHeaderCellDef> tiempo de ejecucion </th>
    <td mat-cell *matCellDef="let element"> {{element.executeTime}} </td>
  </ng-container>

  <!-- Symbol Column 
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>
  -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</article>


<article>
  <table mat-table [dataSource]="dataSourceFinished" class="mat-elevation-z8" #ponerOtronombreviewchild>
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="arrivalTime">
      <th mat-header-cell *matHeaderCellDef> tiempo de llegada </th>
      <td mat-cell *matCellDef="let element"> {{element.arrivalTime}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="executeTime">
      <th mat-header-cell *matHeaderCellDef> tiempo de ejecucion </th>
      <td mat-cell *matCellDef="let element"> {{element.executeTime}} </td>
    </ng-container>
  
    <!-- Symbol Column 
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
    -->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </article>


<!--
<table-processes #child>
</table-processes>


<table-finished-processes>
</table-finished-processes>
-->



