<h1 class="title">Simulador planificación de procesos</h1>

<button class="btn-primary" (click)="add()">ADD</button>
<ol>
    <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
</ol>

<table-basic-example>
    
</table-basic-example>




