/* You can add global styles to this file, and also import other style files */

button {
    height: 40px;
    width: 65px;
    border-radius: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
    display: flex;
    justify-content: space-around;
}


article {
    margin: 15px;
    border: 1px solid black;
  
}

table {
    width: 100%;
}
